<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BetterAPI | Filters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>BETTER</h1>
<a href="https://api.betterbot.ru/v2/filter/blur">
  <button>Blur</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/invert">
  <button>Invert</button>
</a> 
<a href="https://api.betterbot.ru/v2/filter/grayscale">
    <button>Grayscale</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/wasted">
    <button>Wasted</button>
</a>
<a href="http://api.betterbot.ru/v2/filter/glass">
    <button>Glass</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/passed">
    <button>Passed</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/jail">
    <button>Jail</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/gay">
    <button>Gay</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/comrade">
    <button>Comrade</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/brightness">
    <button>Brightness</button>
</a>
<a href="https://api.betterbot.ru/v2/filter/petpet">
    <button>PetPet</button>
</a>
<h1>FILTERS</h1>
<!-- partial -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>

<div class="footer">
    <p>Thanks <a href="https://frimebot.ru">frimebot.ru</a> for helping made this cool API ♡</p>
  </div>
  
  