<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BetterAPI | RolePlay</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>BETTER</h1>
<a href="https://api.betterbot.ru/v2/roleplay/hug">
  <button>Hug</button>
</a>
<a href="https://api.betterbot.ru/v2/roleplay/slap">
  <button>Slap</button>
</a>
<a href="https://api.betterbot.ru/v2/roleplay/kiss">
  <button>Kiss</button>
</a>    
<h1>ROLEPLAY</h1>
<!-- partial -->
  <script src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>

<div class="footer">
  <p>Thanks <a href="https://frimebot.ru">frimebot.ru</a> for helping made this cool API ♡</p>
</div>
